files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_asset_compilation.sh":
    mode: "000755"
    content: |
      #!/usr/bin/env bash
      set -xe

      . /opt/elasticbeanstalk/support/envvars

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)

      RAKE_TASK="assets:precompile"

      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_STAGING_DIR

      if [ "$RAILS_SKIP_ASSET_COMPILATION" == "true" ]; then
          echo "Skipping asset compilation (RAILS_SKIP_ASSET_COMPILATION=true)."
      else
          bundle exec rake $RAKE_TASK
      fi
